body {
    font-family: Verdana, sans-serif;
}

nav {
    float: left;
}

nav a {
    text-decoration: none;
    padding: 15px;
}

nav ul {
    text-align: center;
    list-style: none;
}

nav ul li a {
    display: block;
    float: left;
    padding: 10px;
}

#youarehere {
    font-weight: bold;
}

article {
    float: left;
    width: 40%;
}

#images {
    float: right;
    width: 40%;
}

#images img {
    width: 250px;
}